[2022-04-27 11:44] sudip-mondal-2002 opened #36 "Update the UI of the website"
If you have great UI skills with Material UI, please update the UI of our project. Reply under this comment and get the issue assigned to you. Then you can work on the project as per the contribution guidelines.

[2022-04-27 11:47] sudip-mondal-2002 opened #37 "Document the project parts"
Document all the steps for a contributor and users in the different markdowns inside the repository. You might start a discussion before documenting things to get clear.

[2022-04-27 11:51] sudip-mondal-2002 opened #38 "Enable support system"
**Is your feature request related to a problem? Please describe.**
Sometimes things need manual reviews and hence we need to have a support system.

**Describe the solution you'd like**
Users can come up with different problems and report them to us. Admins should be notified about them.

[2022-04-27 12:06] sudip-mondal-2002 opened #42 "Add image upload options"
**Is your feature request related to a problem? Please describe.**
Add image upload options in the about section, user data section and projects section.

**Describe the solution you'd like**
The component for image upload is already built, need to connect it to the respective views.

[2022-04-27 14:13] shamsch commented on #42
I will give it a try

[2022-04-27 15:55] sudip-mondal-2002 opened #44 "Running Tests"
**Is your feature request related to a problem? Please describe.**
Currently, we need to manually test the APIs by running the postman collection. We need to automate it using Newman CLI and GitHub actions.

**Describe the solution you'd like**
Create a workflow that runs the postman collection and checks all the tests.

**Describe alternatives you've considered**
Instead of postman tests, we migh

[2022-04-27 15:59] sudip-mondal-2002 opened #45 "Fix the errors in console"
**Describe the bug**
On starting the react app, some errors show up in the console. Fix that issue.

[2022-04-27 16:13] sudip-mondal-2002 opened #46 "Add other auth systems [GitHub, Microsoft, etc.]"
**Is your feature request related to a problem? Please describe.**
Currently, we're accepting only google OAuth. But we should accept other authentication systems also.

**Describe the solution you'd like**
Needs a bit of workaround in both the frontend and backend of the project.

[2022-04-27 16:17] sudip-mondal-2002 opened #47 "Write tests for APP"
**Is your feature request related to a problem? Please describe.**
The front-end currently doesn't have any tests written.

**Describe the solution you'd like**
Use Jest or any other Unit testing library to write tests for the react frontend of the project.

[2022-04-27 16:24] sudip-mondal-2002 opened #48 "Handle null values in ejs."
**Describe the bug**
The ejs files in the project don't handle null values.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'www.portfolioshop.tech'
2. Click on 'Continue with google'
3. Fill up your details but leave some things.
4. See your website contains the buttons related to the blank things in there but contains null click handlers.

**Expected behavior**
Shouldn't contain butt

[2022-04-27 18:00] sudip-mondal-2002 opened #50 "Fix performance"
**Describe the bug**
Some parts of the website take a lot more time to load

**Additional context**
- Fix the background image loading time
- Fix initial loading time of initial buttons

[2022-04-27 18:19] sudip-mondal-2002 opened #51 "Update Secuirity.md"
Go through the codebase and update the security.md file.

[2022-04-27 18:23] sudip-mondal-2002 opened #52 "Fix Security vulnerability from npm audit"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to root directory of the project
2. Run 'npm audit'
3. See error

**Expected behavior**
There should be 0 vulnerabilities

**Additional context**
npm audit fix won't help. It needs manual reviews

[2022-04-27 18:37] sudip-mondal-2002 opened #53 "Optimize the SEO"
Find and fix the issues with the SEO compatibility of the website.

[2022-04-27 20:09] sudip-mondal-2002 opened #55 "Add new templates in EJS"
**Is your feature request related to a problem? Please describe.**
Currently, only one template is there.

**Describe the solution you'd like**
You can create templates based on any framework, but don't duplicate any existing template.

[2022-04-27 20:12] sudip-mondal-2002 opened #56 "Add an API endpoint to get all the available templates in the project"
**Describe the solution you'd like**
Check out the templates folder in the API directory. Dynamically serve all the templates in there.

[2022-04-28 14:38] sudip-mondal-2002 opened #59 "Render a loading prompt"
**Describe the bug**
When the API is called to fetch the user data for the dashboard, there should be a loading screen while it's fetching it.

Add a loading screen/prompt/snackbar while fetching the data

[2022-04-28 14:49] Oyedare commented on #53
For a starter, i would love to work on this issue.

[2022-04-28 14:51] sudip-mondal-2002 commented on #53
Hey @Oyedare! Glad you want to work on this issue. I'll assign you this issue. Let me know an estimated time by when you'll submit a pull request.

All the best.

[2022-04-28 16:40] Oyedare commented on #53
What node version is this project built on. I'm asking because there's an error occurring when trying to install the dependencies

[2022-04-28 17:21] sudip-mondal-2002 commented on #53
node 14.19.1
npm 6.14.16

[2022-04-28 20:21] Oyedare commented on #53
I'm having issues installing dependencies, it's trying to install Azure function core tools and it's taking so long to install. I would share a screenshot of the installation.
![Screenshot (8)](https://user-images.githubusercontent.com/59839603/165838812-be934eaf-0d62-4690-b7d4-504b89536f0e.png)

[2022-04-28 21:46] deeola commented on #45
Hello, is it possible to add a screenshot of these errors?

[2022-04-29 09:44] #42 closed

[2022-04-29 10:10] sudip-mondal-2002 opened #65 "Create a 404 page"
**Is your feature request related to a problem? Please describe.**
We don't have a 404 page yet. Would love to have one

**Describe the solution you'd like**
Please design and code a 404 page. Or you may create a design and put a screenshot here. If someone else like he/she could code it.

[2022-04-29 10:24] #53 closed

[2022-04-29 10:58] sudip-mondal-2002 opened #67 "Update the Image Upload UI"
**Is your feature request related to a problem? Please describe.**
The UI of the upload Image component is a bit messy

**Describe the solution you'd like**
Make the height and width of the image upload component constant (30 units) and make the original image visible on hover like a tooltip. You may suggest your own idea also.

[2022-04-29 11:10] sudip-mondal-2002 opened #68 "Add all contributors to teams page"
**Is your feature request related to a problem? Please describe.**
Currently, only repo maintainers are added to the team's page statically.

**Describe the solution you'd like**
Along with the statically rendered maintainers we want to render all the contributors dynamically.
You may use https://contrib.rocks/image?repo=Portfolio-Shop/portfolioshop this image or any other alternative.

[2022-04-29 11:10] ayush-tiwari26 opened #69 "User Date of Birth conversion from timestamp to Date in DD, Month, YYYY Format"
**Describe the bug**
User Date of Birth is shown as a stringified object of the date.

**Expected behavior**
Date of birth should be converted to DD, Month, YYYY Format format inside EJS template, as in database it's being stored as a date object or timestamp.

![image](https://user-images.githubusercontent.com/74752127/165933649-3a128b71-90cc-4a68-9830-697f1b9b580a.png)

[2022-04-29 13:06] sudip-mondal-2002 opened #70 "Add a snackbar on save"
**Is your feature request related to a problem? Please describe.**
Currently, an alert box appears on save success or failure in the dashboard.

**Describe the solution you'd like**
Show the snackbar instead of alert dialogue in there.

[2022-05-02 20:31] #38 closed

[2022-05-02 20:51] deeola commented on #59
Hello, can I work on this?

[2022-05-02 20:56] sudip-mondal-2002 commented on #59
Yes sure, I'll assign it to you. Can you put an estimated date by which you'll be submitting a PR?

[2022-05-02 20:59] deeola commented on #59
So, before I give a date. I need to be clear about the task.

If you check https://deeola.github.io/newPortfolio/ (work in progress), there is a loader that comes in before the component renders, that is what you want, right?

[2022-05-02 21:01] sudip-mondal-2002 commented on #59
Yes, just match the theme with ours.

[2022-05-02 21:05] deeola commented on #59
Alright, I'll submit a PR in two days. I don't know if I have to work on figma for the graphics. If not, a day.

[2022-05-03 05:04] gautamV19 commented on #65
![404-error-template-18](https://user-images.githubusercontent.com/86219774/166406656-319e3e20-4240-4f04-b580-45c2470737a7.png)
 Can I build a 404 page like this?

[2022-05-03 07:56] deeola commented on #59
Hello, I am finding it difficult to start the api.

<img width="1006" alt="Screenshot 2022-05-03 at 09 46 43" src="https://user-images.githubusercontent.com/71495600/166420644-0b58385e-5190-4132-9957-0a6d6bda6821.png">

[2022-05-03 08:16] sudip-mondal-2002 commented on #65
Sure @gautamV19 will assign this issue to you.

[2022-05-03 08:17] sudip-mondal-2002 commented on #59
Hi @deeola We have used node 14.19.1 for the website. I think that's the issue with your version.

[2022-05-03 08:19] deeola commented on #59
Yeah, I figured that was the problem. Any pointer on how to solve this?

[2022-05-03 08:32] sudip-mondal-2002 commented on #59
You may use node version manager to switch versions in between https://github.com/nvm-sh/nvm

[2022-05-15 07:41] sudip-mondal-2002 commented on #59
Any updates @deeola ?

[2022-05-16 20:33] ericdrosado opened #84 "Community Exchange Introduction/Tracking:"
👋 Hi @sudip-mondal-2002 ,

I am your GitHub mentor for the GitHub Education, [Community Exchange](https://airtable.com/shrRJ3AvEZQohOdGV) (CX) project. I'll be collaborating with you on preparing your repo for CX.

You mentioned in your submission that you wanted to submit a `Learn + Collaborate` repo. This means that you would like to teach students, step by step, how to build this project as wel

[2022-05-16 20:34] ericdrosado opened #85 "Add LEARN.md"
`Learn` repos should have a LEARN.md file to teach another student how to build your project step by step. You can explain how to build your project with text, code snippets, images, or even short (5 minute) long video lessons. As the maintainer of a Learn repo, the LEARN.md file requires you to think critically about how to explain the building of your project and how to also make it engaging. We

[2022-05-16 20:36] ericdrosado opened #86 "Add Topics"
In Community Exchange, GitHub Topics will help the discoverability of your project. You already have some great topics on your repo!

If you happen to use any offers from the GitHub Student Developer Pack to build your project, I would recommend adding the company names to increase discoverability. If you did not, feel free to close this issue.

[2022-05-16 20:40] ericdrosado opened #87 "Update README"
A README is often the first item a visitor will see when visiting your repository. We recommend that your README includes information on:
* What the project does
* Why the project is useful
* How users can get started with the project
  * Explain to users that there is a LEARN.md
  * Explain how to setup the project on their computer
* Mention your code of conduct

You already have great informati

[2022-05-16 20:45] ericdrosado opened #88 "Update repo description"
Other than GitHub Topics, your description will be the primary way of catching the users eyes. Your repo description should be clear and concise. Ask yourself:

* In one sentence, how do I convey what my repo does?
* What type of users am I interested in attracting to my repo?
* If I was a user, what words or phrases might spark my interest?

This is a good start, but what is a "portfolio manageme

[2022-05-17 05:34] sudip-mondal-2002 commented on #86
I had already added most of the topics. Now, I have added a few more numbers of them. Going forward to close the issue.

[2022-05-17 05:34] #86 closed

[2022-05-17 05:39] sudip-mondal-2002 commented on #85
Hi @ericdrosado sir, I have already covered these in the [CONTRIBUTING.md](https://github.com/Portfolio-Shop/portfolioshop/blob/master/CONTRIBUTING.md). So, how should I proceed now? Should I split the content?

[2022-05-17 06:03] sudip-mondal-2002 commented on #85
@ericdrosado sir, I have completed this. Please have a look in the file and let me know if any further changes needed.

[2022-05-17 06:04] sudip-mondal-2002 commented on #87
Hi @ericdrosado, I have updated the Readme file as you have instructed. Please have a look and let me know if I have missed out on something

[2022-05-17 06:08] sudip-mondal-2002 commented on #88
Hi @ericdrosado sir, I have updated the project description. Once have a look and let me know if any changes are needed.

[2022-05-17 06:10] sudip-mondal-2002 commented on #84
I have fixed all these issues, please look into them and let me know if I need to do any further tasks.

[2022-05-18 16:45] ericdrosado commented on #85
@sudip-mondal-2002 The information you added to `LEARN.md` is super helpful, however when I say "build," I'm referring to how you coded the project so someone could make a project like yours.

Looking over your code, there are a lot of moving pieces, and it may be time consuming to outline all of the components step by step. You are more than welcome to identify a component of your project that mi

[2022-05-18 17:02] ericdrosado commented on #87
@sudip-mondal-2002 here is some feedback:

I would replace `very smoother` with `easier`.

I would replace `are struggling and wasting a lot of time on building` with `struggle and waste their time building`

I would replace `this websites takes the data of the users, and renders them in their respective website.` with `our website collects data from a user and renders a portfolio for their websit

[2022-05-18 17:13] ericdrosado commented on #88
@sudip-mondal-2002 this is a great start! It's a bit long, so let's try to make this concise.

Your last sentences get to the heart of what your repo is trying to accomplish.

Perhaps it could be:

`portfolioshop builds custom portfolio websites with submitted user data`

What do you think? Do you think this captures exactly what your project does? Are we missing any keywords?

[2022-05-21 05:56] sudip-mondal-2002 commented on #88
Hi @ericdrosado, it was great fit in there, I've put this in the repo description

[2022-05-21 05:58] sudip-mondal-2002 commented on #85
@ericdrosado  Sir, it's hard to explain the things everything from scratch. We'd like to change the focus to collaborate then.

[2022-05-23 03:48] ericdrosado commented on #88
@sudip-mondal-2002 I would recommend just using `portfolioshop builds custom portfolio websites with submitted user data` as your description. The description, as is, is very long.

[2022-05-23 03:50] #85 closed

[2022-05-23 05:36] sudip-mondal-2002 commented on #88
Yes sir, done. Thank you.

[2022-05-23 05:46] sudip-mondal-2002 commented on #87
I've fixed this as well. Please check @ericdrosado

[2022-05-23 15:33] #88 closed

[2022-05-23 15:42] ericdrosado commented on #84
Congratulations @sudip-mondal-2002 for completing all of the issues! 🎉

I will contact you next week on next steps in this issue.

[2022-05-23 19:47] Mikadifo opened #95 "Move or Change Save button"
**Is your feature request related to a problem? Please describe.**
I didn't see the the save button at the first sight, when I finally saw it, I thought it was a footer button, so I had to scroll to know that button was to save the information.

**Describe the solution you'd like**
I'd like the button to be changed as a static one or move up to be more visible for the user.
I think it's perfect fo

[2022-05-24 11:54] sudip-mondal-2002 commented on #59
I am unassigning you @deeola

[2022-05-25 19:02] singharyan1007 commented on #95
Hii , i would like to work on this issue, so can you assign me this one?

[2022-05-26 06:23] sudip-mondal-2002 commented on #95
Yes sure @singharyan1007, make sure you follow the contribution guidelines.

[2022-05-27 18:04] singharyan1007 commented on #95
hii @sudip-mondal-2002 can you guide me through the azure setup as I am much familiar with the gcp.

[2022-05-28 09:07] sudip-mondal-2002 commented on #95
Can you please check the contribution.md file once? After that if you have any doubts, please open a chat in the discussion forum.

[2022-06-02 09:44] sudip-mondal-2002 commented on #84
Hi @ericdrosado any updates on this? Thank you!

[2022-06-03 04:35] sudip-mondal-2002 commented on #84
Hi @ericdrosado I can't add organization repositories in the community exchange. Was it intended or is it a bug?
![image](https://user-images.githubusercontent.com/74463091/171786880-58808179-bb21-463c-8547-838f5e678e84.png)

[2022-06-03 04:43] ericdrosado commented on #84
@sudip-mondal-2002 good catch! We did not account for Organization level submissions.

Let me check with the engineers to see if we can adjust this. I'll post updates in this issue.

[2022-06-04 16:15] sudip-mondal-2002 commented on #84
Any updates on this @ericdrosado sir?

[2022-06-06 16:23] ericdrosado commented on #84
@sudip-mondal-2002 it looks like we will be unable to accept Org level repositories at this time. The plan will be to consider this for a future iteration, but we won't be able to add this feature by launch.

If you would like to submit your repo before launch, I would recommend [transferring the repo to your name](https://docs.github.com/en/repositories/creating-and-managing-repositories/transfer

[2022-06-06 16:47] sudip-mondal-2002 commented on #84
Yes, @ericdrosado. It's not possible for me to transfer the repo to my account. We'll do it in the next iteration. sure. what about the survey form? Should I fill it out now?
![image](https://user-images.githubusercontent.com/74463091/172206949-9045b6ba-adb9-4881-8d08-bb3778339628.png)

[2022-06-15 19:47] sudip-mondal-2002 commented on #95
@singharyan1007 I am going to unassign you as there is no response for a long time, if you still want to contribute please let us know in this thread.

[2022-06-15 19:49] sudip-mondal-2002 commented on #65
As there isn't a response since a long time, I'm going to unassign you from this issue @gautamV19

[2022-06-27 14:33] 3swayam commented on #95
@sudip-mondal-2002  Can you share your lower env configurations ? I would like to work on this as well as few other issues. Thanks

[2022-06-27 17:05] sudip-mondal-2002 commented on #95
I'm sharing the keys, can't share the values due to security reasons. Inside the `/api` directory create a file named `local.settings.json`. Azure-related services can be built using the azure portal on the internet or if you want to use your device, use the Azure CLI to generate blob services and optionally MongoDB database too. You may optionally leave some environment depending on the issue you

[2022-07-05 12:43] YashDalal11 commented on #70
Hi, can I get this issue?

[2022-07-05 12:58] sudip-mondal-2002 commented on #70
Hi @YashDalal11, I've assigned you this issue, please let me know if you face any issue

[2022-07-05 13:07] YashDalal11 commented on #70
sure

[2022-07-22 16:13] NabajitS commented on #65
I can get working on it. Can I get this issue?

[2022-07-22 17:02] sudip-mondal-2002 commented on #65
@NabajitS I've assigned you this issue.

[2022-07-23 04:16] NabajitS commented on #65
Should I push the commits and create a PR or do you have a branch naming convention?

[2022-07-23 06:52] sudip-mondal-2002 commented on #65
We don't have a naming convention for branches, put all small letters without spaces(you may use -) while naming a branch.

[2022-08-03 14:13] Arsalan2525 commented on #69
@ayush-tiwari26, @sudip-mondal-2002  Hi, i am interested to fix this bug. can you please provide me your lower environment variable values?

[2022-08-04 07:30] mohdaakib commented on #95
@sudip-mondal-2002 can u please assign me this issues ?

[2022-08-04 08:52] Ahad1317 commented on #51
Hey there ! Can I work on this.. I would like to update the security.md file..

[2022-08-04 12:53] Siddharth1006 commented on #36
I am interested in this issue. Can u please assign it to me as a part of SSOC.

[2022-08-04 14:00] Ahad1317 opened #110 "GO-TO-TOP BUTTON"
**Go to top button**
For moving to the top of the page
![icon](https://user-images.githubusercontent.com/96586030/182865938-095c8a0a-e0ec-4688-86d6-8c944e21728e.png)

[2022-08-04 14:01] Ahad1317 commented on #110
I would like to work on this issue, Can you please assign me.

[2022-08-04 14:17] #65 closed

[2022-08-04 14:19] sudip-mondal-2002 commented on #51
We'll assign one issue to one coordinator at a time

[2022-08-05 05:01] Himanshu-370 opened #112 "Improve UI of buttons"
**Is your feature request related to a problem? Please describe.**
The visit website and logout button need some padding and alignment.

**Describe the solution you'd like**
Improve the UI using a margin-right around the buttons

**Describe alternatives you've considered**
I am thinking of moving the logout button to the right side to make it more clear to visible.

@sudip-mondal-2002 Please assig

[2022-08-05 17:46] its-ayush-07 commented on #59
Can I work on this issue?
Also, can you please share the `REACT_APP_GOOGLE_AUTH_CLIENT_ID` environment variable? Without this, the `GoogleLoginComp` component is not getting rendered and I cannot access the Dashboard.

[2022-08-05 18:03] its-ayush-07 commented on #68
Can I work on this issue?

[2022-08-06 05:57] sudip-mondal-2002 commented on #68
I have assigned it to you, get it done fast.

[2022-08-06 05:58] sudip-mondal-2002 commented on #59
You need to create your own, or check the dev.sh file there will be one test key ig.

[2022-08-06 08:42] sudip-mondal-2002 commented on #36
@Siddharth1006 I've assigned it to you.

[2022-08-06 14:15] Joiyad commented on #67
I am interested in fixing this issue, please assign me.

[2022-08-06 14:16] sudip-mondal-2002 commented on #67
@Joiyad ,I have assigned you this issue.

[2022-08-06 19:48] #68 closed

[2022-08-06 20:18] sudip-mondal-2002 commented on #112
@Himanshu-370 Assigned you for this

[2022-08-07 04:40] its-ayush-07 commented on #59
Yes, I found one test key. Thank you.
Can I work on this issue under SSOC?

[2022-08-07 06:36] sudip-mondal-2002 commented on #59
@its-ayush-07 I've assigned you

[2022-08-07 10:00] #59 closed

[2022-08-09 06:22] its-ayush-07 commented on #70
Hello, can I work on this issue under SSOC?

[2022-08-09 07:33] its-ayush-07 opened #115 "Enhance the UI responsiveness"
**Is your feature request related to a problem? Please describe.**
Some components of the UI are not completely mobile and tablet responsive.

**Describe the solution you'd like**
I'd like to enhance the responsiveness of the UI by properly spacing some of the buttons and components in the attached screenshots.

**Additional context**

<img src="https://user-images.githubusercontent.com/74665996/1

[2022-08-09 08:48] sudip-mondal-2002 commented on #70
@its-ayush-07 it's already assigned to someone else

[2022-08-09 10:19] sudip-mondal-2002 commented on #115
@its-ayush-07 you may work on it, I have assigned you.

[2022-08-09 15:51] venkat-clone commented on #48
can you post the screenshot of the bug?

[2022-08-13 11:25] sudip-mondal-2002 commented on #48
The thing is, for example, if the GitHub link is not given for a person, it still shows the github icon on hi website.

[2022-08-13 11:57] #115 closed

[2022-08-15 14:28] #67 closed

[2022-08-15 14:30] sudip-mondal-2002 commented on #110
@Ahad1317 We have assigned this to you. Are you working on it? If not, we'll unassign you from this.

[2022-08-17 07:53] AnshuPathak-88825 opened #119 "Want to scroll button in home page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-17 07:53] #119 closed

[2022-08-17 07:54] AnshuPathak-88825 opened #120 "Want to scroll button in main page"

[2022-08-17 07:54] AnshuPathak-88825 commented on #120
assign me this issue

[2022-08-17 11:09] ayush-tiwari26 commented on #120
Assigning this issue to you.
Make sure to follow Contributing guides.

[2022-08-17 14:08] AnshuPathak-88825 commented on #120
![image](https://user-images.githubusercontent.com/78332454/185151601-e52cb10e-682c-4de6-a1c1-db68e4dde4d5.png)

I'm getting this error while setup it in my pc

[2022-08-17 14:08] AnshuPathak-88825 commented on #120
pls help me out

[2022-08-17 14:36] sudip-mondal-2002 commented on #120
@AnshuPathak-88825 If you can't set up environment please use codespaces, we have already set codespaces for the contributors.

[2022-08-17 19:24] vandana3869 opened #122 "Enhancing the UI of the website"
**Describe the solution you'd like**
https://sukoon.my.canva.site/dark-blue-and-purple-bold-tech-app-business-website this my idea for the UI

[2022-08-17 20:03] sudip-mondal-2002 commented on #122
Hey @vandana3869 I'll assign this to you. You may work on the issue.

[2022-08-23 14:19] Joiyad commented on #45
I am interested in fixing this issue, can you assign me this issue?

[2022-08-24 13:53] ayush-tiwari26 commented on #45
Hey @Joiyad, I am assigning you the issue.
Be sure to have a look at contribution guidelines.
WIsh you luck.

[2022-08-28 12:05] #45 closed

[2022-08-29 04:23] advait-cs opened #125 "Improve MenuBar button"
**Is your feature request related to a problem? Please describe.**
  After clicking on the "Source" button in MenuBar it is displaying the error page.

**Describe the solution you'd like**
After clicking on the "Source" button, it can be redirected to the [(GitHub link)](https://github.com/Portfolio-Shop/portfolioshop) in a separate tab.

![portshop](https://user-images.githubusercontent.com/76991

[2022-08-29 05:15] sudip-mondal-2002 commented on #125
@advait-cs I've assigned you this issue.

[2022-08-29 14:06] kunalagra opened #127 "Razorpay Donate Now Button not Scaling on Mobile"
**Describe the bug**
Donate Now button not scaling on mobile

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website on mobile

**Expected behavior**
The Donate now button is either hidden or scaled down to fit properly.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/66416646/187219538-e266faee-680a-4eaf-

[2022-08-29 18:26] sudip-mondal-2002 opened #128 "Dashboard crashed: Urgent help needed!!"
**Describe the bug**
The dashboard has crashed on production.

[2022-08-29 22:29] sudip-mondal-2002 commented on #127
@kunalagra Do you want to work on this issue?

[2022-08-30 03:01] #125 closed

[2022-08-30 15:40] kunalagra commented on #127
Yes. I would like to work on this issue

[2022-08-30 16:35] sudip-mondal-2002 commented on #127
@kunalagra I've assigned you

[2022-08-30 16:54] sudip-mondal-2002 commented on #128
** BUG FOUND **
UploadImage is crashing on uploading

[2022-08-30 17:05] #128 closed

[2022-08-30 17:38] itsprathapkreddy opened #133 "Logout Button is Squashed"
**Describe the bug**
As you can see the logout button is not shown properly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the homepage
2. Click on google sign-on
3. See error

**Expected behavior**
Logout Buttons should be the same size as the other two buttons, and floating it to the right makes it blend well with the UI.

**Screenshots**
![image](https://user-images.githubusercont

[2022-08-30 17:51] itsprathapkreddy opened #134 "Linkedin Button is not working"
**Describe the bug**
The Footer of the website has a LinkedIn button, which is forwarding to a 404 page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to footer
2. Click on LinkedIn Button

**Expected behavior**
Remove the LinkedIn button or point it to a page saying we will be on LinkedIn soon.
I personally prefer the second option.

**Desktop
 - OS: All
 - Browser All
 - Version All

[2022-08-30 18:37] sudip-mondal-2002 commented on #133
@itsprathapkreddy I've assigned you this issue

[2022-08-30 18:38] sudip-mondal-2002 commented on #134
We will assign only one issue at a time. Please complete the other one first. Thanks :)

[2022-09-04 12:32] kunalagra opened #136 "Manifest.json FIlled with Demo Content"
**Describe the bug**
Manifest.json file is wrong/has incorrect details of the website.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/Portfolio-Shop/portfolioshop/blob/master/app/public/manifest.json
2. Data/Details wrong

[2022-09-05 12:05] kunalagra commented on #136
I would to work on this issue

[2022-09-05 18:45] #136 closed

[2022-09-21 15:07] its-ayush-07 commented on #70
@sudip-mondal-2002 can I work on this issue now, as it has been inactive for a long time?

[2022-09-22 09:28] sudip-mondal-2002 commented on #70
Sure, Please go on

[2022-09-22 10:10] kunalranjan19 commented on #134
hey can you Assign this to me

[2022-09-23 05:36] kunalranjan19 commented on #134
@sudip-mondal-2002

[2022-09-24 18:00] #70 closed

[2022-09-24 21:34] sudip-mondal-2002 opened #146 "Add option to download portfolio as an HTML file"
It'd be nice if people can download the HTML directly from the website.

Create a button and allow downloading the HTML for the portfolio

[2022-09-25 14:01] kunalagra opened #147 "Meta Tags are incomplete in Index.html for Favicons"
**Describe the bug**
HTML Meta tags plays important vital roles and incorrect meta tags may cause issues.

**To Reproduce**
Steps to reproduce the behavior:
1. Navigate to Index.html file in public folder
2. webp for apple-icon needs to be replaced with ong file of 180x180
4. Missing 16x16 & 32x32 favicons tags & images
5. Missing MS-Application tile color

**Desktop (please complete the following

[2022-09-25 14:53] #147 closed

[2022-10-01 14:33] sudip-mondal-2002 commented on #122
Duplicate #36

[2022-10-01 14:33] #122 closed

[2022-10-01 15:23] abhilipsasahoo03 commented on #51
Hi @sudip-mondal-2002 is there any chance I could work on this issue under hacktoberfest? I can't seem to find any issue labelled as such.

[2022-10-01 15:28] sudip-mondal-2002 commented on #51
Sure you can work on this, we'll label your pull request under hacktoberfest

[2022-10-01 16:09] abhilipsasahoo03 commented on #51
Hi @sudip-mondal-2002 can you provide some insight on what points I can include in the Security.md file. Can I include disclosure policy, or response time after receiving a report, or some other points that I maybe am missing out? If so, can you expand on that?

[2022-10-01 16:13] sudip-mondal-2002 commented on #51
Yeah please add the disclosure policy, don't put any response time as such,  you can put any other security related topics.

[2022-10-01 18:19] #51 closed

[2022-10-01 22:08] arun-kushwaha04 commented on #146
@sudip-mondal-2002 can I work on this feature ?

[2022-10-01 23:19] sudip-mondal-2002 commented on #146
Sure, I have assigned you this issue, please follow the contribution guidelines.

[2022-10-02 02:53] Himanxu1 commented on #134
assign this to me

[2022-10-02 02:54] Himanxu1 commented on #134
@sudip-mondal-2002

[2022-10-02 02:55] Himanxu1 commented on #133
assign this to me @sudip-mondal-2002

[2022-10-02 07:46] #127 closed

[2022-10-02 07:47] ayush-tiwari26 commented on #133
Sure @Himanxu1, I am assigning you the issue.

[2022-10-02 07:49] ayush-tiwari26 commented on #134
Hey @Himanxu1, we are right now assigning only one issue at a time, please try to wrap that up and then I will assign this to you.

[2022-10-02 08:27] roopeshsn opened #152 "Social media icons are visible even if the URLs are not provided"
**Describe the bug**
To create a portfolio website under the "User Details" there are fields to enter the "Social Handles" URL. Though, if the links are not given for some of the social accounts the website is displaying the respective social media icon. In my case, I have given only Twitter, Linkedin, and GitHub URLs. But on the website, the Facebook and Instagram icons are also visible. Similar

[2022-10-02 09:28] juhi0103 commented on #69
Hey I want to work on this can you assign this to me?

[2022-10-02 15:08] sudip-mondal-2002 commented on #69
@juhi0103 I have assigned you to this issue. All the best.

[2022-10-02 18:44] ayush-tiwari26 commented on #152
Duplicate Issue, #48

[2022-10-02 18:44] #152 closed

[2022-10-02 19:00] ayush-tiwari26 opened #153 "Adding More Templates as a part of our EJS Template (Portfolio Websites) Gallery."
The end product of the web app is a fully rendered HTML that a user can showcase as his portfolio website or just a web resume.
- What we do is simple, we pick up a free HTML template from the internet.
- This Template is chosen to be an option for user to pick as a portfolio website.
- We change the HTML document for this template and put in EJS tags wherever necessary.
- Now this EJS script is f

[2022-10-03 18:28] arun-kushwaha04 commented on #146
@sudip-mondal-2002 i am able to get google auth option when running locally.
![image](https://user-images.githubusercontent.com/73020364/193651507-efdeb679-53fc-4720-bfed-5892a754e29f.png)

[2022-10-03 18:34] sudip-mondal-2002 commented on #146
@arun-kushwaha04 you need to add a google auth client id in the file local.settings.json of API folder key should be REACT_APP_GOOGLE_AUTH_CLIENT_ID. Otherwise, run the setup.sh file to get the file created, or optionally use vscode remote containers or codespaces to get an already setup device.

[2022-10-03 18:50] arun-kushwaha04 commented on #146
@sudip-mondal-2002 I ran setup.sh . But I think this is not the issue. The react app is not able to acces the api server, may be they are running on different port (3000 for react and 7071 for api , though not sure of this part).

![image](https://user-images.githubusercontent.com/73020364/193655504-1d837d85-f697-4215-92d2-4741fe046665.png)

[2022-10-03 18:57] sudip-mondal-2002 commented on #146
You need to run npm start at the root level of the project, it'll run the API server and client server simultaneously and both will be proxid from `localhost:4280`. So in order to access the server from your client your web app should be opened at `localhost:4280` and not `localhost:3000`

[2022-10-03 18:59] arun-kushwaha04 commented on #146
Ok got it working, thanks for help.

[2022-10-03 19:46] arun-kushwaha04 commented on #134
@sudip-mondal-2002 can I work on this issue ?

[2022-10-03 20:37] sudip-mondal-2002 commented on #134
@arun-kushwaha04 sure please proceed, I've assigned you this issue

[2022-10-04 17:06] #146 closed

[2022-10-04 17:55] sudip-mondal-2002 commented on #112
Sure, please go on.

[2022-10-04 17:57] #134 closed

[2022-10-07 03:42] rishi-kai21 commented on #37
hello @sudip-mondal-2002, I would like to work on this issue. Please assign it to me:)

[2022-10-07 04:01] ayush-tiwari26 commented on #37
Sure, I'm assigning it to you.

[2022-10-07 04:09] rishi-kai21 commented on #153
Hi, @ayush-tiwari26 .Please Can you assign this issue to me? I would love to work on this.

[2022-10-07 04:29] ayush-tiwari26 commented on #153
Assigning you the issue.

[2022-10-08 16:39] its-ayush-07 commented on #95
@sudip-mondal-2002 can I work on this issue under hacktoberfest?

[2022-10-08 22:08] sudip-mondal-2002 commented on #95
@its-ayush-07 sure please go ahead

[2022-10-09 06:46] utkarsh4321 commented on #47
@sudip-mondal-2002  hi I want to work on it. I never worked on the GitHub action thing but I can do it. if you help me a little bit. Can you assign it to me?

[2022-10-09 08:28] sudip-mondal-2002 commented on #47
Please work on writing the tests first, GitHub action is very easy part, I can help you with that.

[2022-10-09 12:51] #95 closed

[2022-10-09 14:33] utkarsh4321 commented on #47
Hii on configuring this project I m facing some issues. When installing node-gyp. So can you tell me how I will resolve this?

[2022-10-09 14:50] sudip-mondal-2002 commented on #47
write tests using jest only.

[2022-10-09 16:19] utkarsh4321 commented on #47
ok

[2022-10-10 06:00] its-ayush-07 commented on #110
@sudip-mondal-2002 , can I work on this issue, as it has been inactive for a long time?

[2022-10-10 06:08] sudip-mondal-2002 commented on #110
Sure, I'm assigning it to you

[2022-10-10 06:09] sudip-mondal-2002 commented on #110
No @Ahad1317 is assigned currently, please find some other issue

[2022-10-10 10:08] Ahad1317 commented on #110
Its has been completed, PR would be made by tonight

[2022-10-10 19:44] its-ayush-07 commented on #52
@sudip-mondal-2002  I am interested to work on this issue.

![Screenshot (25)](https://user-images.githubusercontent.com/74665996/194940590-0400961d-d175-4622-8d26-bdddfdbaae99.png)

After manually reviewing, I found that upgrading the npm version from "^6.14.16" to "^8.19.2", fixes 12 out of 13 vulnerabilities, as you can see in the above screenshot. Also, it is not a breaking change as the appli

[2022-10-10 19:49] sudip-mondal-2002 commented on #52
after updating npm version have you checked if the project is running? i don't think so.

[2022-10-10 20:09] its-ayush-07 commented on #52
Yes, I ran the following in the root directory after updating the version:
`npm run dev-install`
`npm start`

and the project is running fine.

[2022-10-11 06:39] sudip-mondal-2002 commented on #52
have you updated npm version in all the folders? root directory, api and app?

[2022-10-11 18:12] rishi-kai21 commented on #37
@sudip-mondal-2002 can you please tell me what should I update in readme.md & contribution.md

[2022-10-11 18:20] its-ayush-07 commented on #52
![Screenshot (26)](https://user-images.githubusercontent.com/74665996/195169005-bc523bac-921f-46f8-89f5-b58e325d4de3.png)

Yes, I've updated it in all the folders and it works fine. Still, you can check it in your local system to verify.

[2022-10-11 20:27] sudip-mondal-2002 commented on #52
ok please create a pull request.

[2022-10-12 11:28] #52 closed

[2022-10-16 03:50] utkarsh4321 commented on #47
@sudip-mondal-2002 Hii sorry for the late response. I m unable to set up this project on my laptop. Can you tell me ways to set up this project?

[2022-10-16 03:51] sudip-mondal-2002 commented on #47
Sure, what's the issue? Have you followed the contribution.md file?

[2022-10-16 14:51] utkarsh4321 commented on #47
yes, can I use docker to run this project? it will work. or not?

[2022-10-16 15:32] sudip-mondal-2002 commented on #47
You may use vscode remote containers.

[2022-10-16 16:11] utkarsh4321 commented on #47
ok i will try that and update you

[2022-10-17 03:09] utkarsh4321 commented on #47
@sudip-mondal-2002 can you suggest any docs regarding that vscode remote container

[2022-10-17 05:53] sudip-mondal-2002 commented on #47
https://code.visualstudio.com/docs/remote/containers

The container is already configured, no need to configure it again.

[2022-10-17 11:01] 19sajib opened #178 "This link >> www.portfolioshop.tech << isn't working.."

[2022-10-17 12:56] utkarsh4321 commented on #47
ok

[2022-10-19 10:17] utkarsh4321 commented on #47
Hii @sudip-mondal-2002 can you tell me what about local.setting.json that need to configure na so where i will get those url.

[2022-10-19 10:36] sudip-mondal-2002 commented on #47
check the setup.sh, if you run that file that'll create it

[2022-10-19 17:02] utkarsh4321 commented on #47
@sudip-mondal-2002 can I use react-testing-library with jest? To test react component?

[2022-10-19 17:02] sudip-mondal-2002 commented on #47
Yes sure, you may use react-testing-library

[2022-10-19 17:04] utkarsh4321 commented on #47
ok

[2022-10-19 17:06] utkarsh4321 commented on #47
![image](https://user-images.githubusercontent.com/30936607/196757440-59eae0a9-58f4-46a7-b093-e5b448264870.png)
Here I m only seeing these pages so I Will write test cases for these pages only or there are more pages present in this app

[2022-10-19 17:16] utkarsh4321 commented on #47
@sudip-mondal-2002  Just tell me if I need to write test cases for all the pages or if there are some specific components only for those you want test cases. Just tell me this?

[2022-10-19 17:28] sudip-mondal-2002 commented on #47
You haven't configured the project correctly, that's why you can't see the login button, and so you can't enter the dashboard. We need tests for the dashboard.

[2022-10-25 08:48] boltkk95 commented on #133
@ayush-tiwari26  is this issue closed, or still working? if no one is on this, i would like to take it up

[2022-10-25 08:50] boltkk95 commented on #120
@sudip-mondal-2002 @ayush-tiwari26 . if no one is working on this, i would like to take it up

[2022-10-25 13:44] sudip-mondal-2002 commented on #120
I have assigned you this issue, please work on it.

[2022-10-25 13:45] sudip-mondal-2002 commented on #133
@boltkk95 For now, we're assigning only one issue to a contributor. Once you complete that we may proceed.

[2022-10-25 16:25] Panfern commented on #133
Hey @sudip-mondal-2002, I would like to get into this, and check out other stuff as well, but I have not much of an idea on how to start. Could you tell me what should I do?

[2022-10-26 06:42] boltkk95 commented on #120
thanks, on it

[2022-10-26 06:43] boltkk95 commented on #133
@sudip-mondal-2002  got it, thanks

[2022-10-27 05:15] boltkk95 commented on #120
@sudip-mondal-2002  can you give me a description for the issue?

[2022-10-27 10:34] Karthik-59 opened #180 "Images in How it works section are not displaying"
**Describe the bug**
As we can see in the screenshot, the images are not displaying.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to public folder
2. Click on productHowItWorks1.svg (similarly other 2 images)
3. See error

**Expected behavior**
Images to be displayed, in 'how it works' section

**Screenshots**
![image1](https://user-images.githubusercontent.com/77478622/198261946-d174b

[2022-11-02 16:56] sudip-mondal-2002 commented on #180
We'll look into it. Would you like to work on it?

[2022-11-16 19:48] Yashkhamkar commented on #120
@sudip-mondal-2002 @ayush-tiwari26  can you please assign this issue to me .

[2022-11-18 08:54] Yashkhamkar commented on #112
can you assign this to me

[2022-11-19 13:35] sudip-mondal-2002 commented on #120
@Yashkhamkar You're assigned

[2022-11-19 13:35] sudip-mondal-2002 commented on #112
We are assigning only one issue at a time to a contributor. If you complete the other one, we will assign you this